{{#if social_media}}

    <ul class="socialLinks socialLinks--alt">
            <li class="socialLinks-item">
				<p>Follow us:</p>
			</li>
            <li class="socialLinks-item">
                <a href="https://www.facebook.com/Wisconsinmade/" target="_blank" rel="noopener">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="https://www.instagram.com/wisconsinmade/" target="_blank" rel="noopener">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="https://www.linkedin.com/company/wisconsinmade.com" target="_blank" rel="noopener">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="https://www.pinterest.com/wisconsinmade/" target="_blank" rel="noopener">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li class="socialLinks-item">
                <a href="https://twitter.com/wisconsinmade" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
    </ul>
{{/if}}
