<div class="h-section-af home-section" >
	<div class="section-content" >
		<div class="section-item">
			<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-af-icon-1.png' }}" />
			<h2 class="main-txt">Support Small Business</h2>
			<p>Everything is made by artisans that live and work in Wisconsin</p>
		</div>
		<div class="section-item">
			<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-af-icon-2.png' }}" />
			<h2 class="main-txt">Ships Anywhere in the US</h2>
			<p> You’ll receive an email with a tracking number when your order ships.</p>
		</div>
		<div class="section-item">
			<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-af-icon-3.png' }}" />
			<h2 class="main-txt">Great Customer Service</h2>
			<p>Personable and dependable, just like small town Wisconsin</p>
		</div>
	</div>	
</div>