<div class="h-section-1 home-section" >
	<div class="section-bar"> Bringing Wisconsin to You! </div>
	<div class="section-content" >
		<div class="section-item">
			<div class="txt-content animation-element fade-in delay-500">
				<label class="sub-txt _txt-top"> THOUGHTFUL PRESENTS </label>
				<h2 class="main-txt">Shop Gifts</h2>
				<p>Made in Wisconsin by artisans and small businesses</p>
				
				<div class="h-action-btn">
				<a class="h-cta-btn" href="/gifts/"> Shop All Gifts</a>
				<a class="h-cta-btn" href="/giftcertificates.php"> Gift Certificates</a>
				</div>
			</div>		
			<div class="img-content">
				<img class="img-responsive lazyload animation-element slide-left delay-500"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-1-img-1.png' }}" />
			</div>
		</div>
		<div class="section-item">
			<div class="txt-content  animation-element fade-in delay-500">
				<label class="sub-txt _txt-top"> TASTY PRODUCTS </label>
				<h2 class="main-txt">Shop Food</h2>
				<p>Old World recipes with a modern twist</p>
				
				<div class="h-action-btn">
				<a class="h-cta-btn" href="/food/"> Shop All Food</a>
			
				</div>
			</div>	
			<div class="img-content">
				<img class="img-responsive lazyload animation-element slide-right delay-500"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-1-img-2.png' }}" />
			</div>			
		</div>
	</div>
</div>


<div class="h-section-2 home-section" >
	<div class="section-content" >
		<div class="section-item">
			<div class="txt-content animation-element fade-in delay-500">
				<div class="overlay_text">
				<h2 class="main-txt">Cheese & Dairy</h2>
				<p>The best cheese in the world comes from Wisconsin. <br> Get some here</p>
				
				<div class="h-action-btn">
				<a class="h-cta-btn" href="/food/cheese-dairy/">Shop Products</a>
				</div>
				</div>
			</div>		
			<div class="img-content">
				<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-2-img-1.jpg' }}" />
			</div>
		</div>
		<div class="section-item">
			<div class="txt-content animation-element fade-in delay-500">
				<div class="overlay_text">
				<h2 class="main-txt">Milwaukee Brewers</h2>
				<p>Support your favorite major league baseball team</p>
				
				<div class="h-action-btn">
				<a class="h-cta-btn" href="/sports/milwaukee-brewers/">Shop Products</a>
			
				</div>
				</div>
			</div>	
			<div class="img-content">
				<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/pages/home/h-section-2-img-2.jpg' }}" />
			</div>			
		</div>
	</div>
</div>
