<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
	<div class="topbar">
    {{> aoc-custom/components/common/navigation}}
	</div>
	<div class="container logo-section">
    {{#if page_type '===' 'default'}}
			<h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
				{{> components/common/store-logo}}
			</h1>
		{{else}}
			<div class="header-logo header-logo--{{theme_settings.logo-position}}">
				{{> components/common/store-logo}}
			</div>
		{{/if}}
		<div class="non-logo-section">
			<div class="custom_search">
				{{> aoc-custom/components/common/quick-search name='nav-quick-search'}}
			</div>
			
			<div class="navUser-section navUser-section--alt custom-nav-user">
				<ul>
					<li class="navUser-item navUser-item--account">
						{{#if customer}}
							<a class="navUser-action" href="{{urls.account.index}}"><i style="margin-right:15px;" class="fa fa-user-circle-o"></i>{{lang 'common.account'}}</a>
							<a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
						{{else}}
							<a class="navUser-action" href="{{urls.auth.login}}"><i  style="margin-right:15px;" class="fa fa-user-circle-o"></i>{{lang 'common.login'}}</a>
							
						{{/if}}
					</li>
					<li class="navUser-item navUser-item--divider">
						|
					</li>
					
					<li class="navUser-item navUser-item--cart">
						<a class="navUser-action"
						   data-cart-preview
						   data-dropdown="cart-preview-dropdown"
						   data-options="align:right"
						   href="{{urls.cart}}"
						   aria-label="{{lang 'cart.nav_aria_label'}}"
						>
							<span class="navUser-item-cartLabel"><i style="margin-right:20px;" class="fa fa-shopping-cart" aria-hidden="true"></i>My {{lang 'common.cart'}}</span>
							<span class="countPill cart-quantity">{{cart.quantity}}</span>
						</a>

						<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
					</li>
					
				</ul>
			</div>
			
			<div class="navPages-container" id="menu" data-menu>
					{{> components/common/navigation-menu}}
			</div>
		
		</div>
		
    </div>
    <script type="text/javascript">
var _caq = _caq || [];
(function () {
var ca = document.createElement("script");
ca.type = "text/javascript";
ca.async = true;
ca.id = "_casrc";
ca.src = "//t.channeladvisor.com/v2/12008604.js";
var ca_script = document.getElementsByTagName("script")[0];
ca_script.parentNode.insertBefore(ca, ca_script);
})();
</script>
</header>

<script>
/** Navigation Fix **/
jQuery(document).ready(function(){
	function _navMenuRelocator(){
		if(jQuery( window ).width()  <= 1000){
			jQuery('#menu').appendTo('header.header');
		}else{
			jQuery('#menu').appendTo('.non-logo-section');
		}
	}
	
	jQuery( window ).resize(function() {
		_navMenuRelocator();
	});
	_navMenuRelocator();

});
</script>


{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
